body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cf{
    width: 500px;
    margin-top: 50px;
    border: 1px solid darkblue;
    /* background-color: lightblue; */
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 100px;
    border-radius: 50px;
}
.cd{
    font-size: 20px;
}

.btn{
    background: radial-gradient(circle, rgba(179,45,45,1) 17%, rgba(252,176,69,1) 32%, rgba(77,66,60,1) 53%);
}